@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 50%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #00FFFF;
}

#column-2 {
  background: #d5d5d5;
}

#column-3 {
  background: #483D8B;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: #008B8B;
  }
/* Peeked at solution code after attempting to widen the 2nd column using px instead of percent, it worked a little but not complete. Solution code leaves "open space" after columns 1&2 they do not span the page like column 3. Leaving the below widths they are the only solution that actually solves the presented problem in step 2 */

  #column-1 {
    background-color: #FF00FF;
	width: 100%;
  }

  #column-2 {
    background-color: #FFF0F5;
	width: 100%; 
  }

  #column-3 {
    background-color: #3CB371;
	width: 100%; 
  }

  footer {
    background-color: #4169E1;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #6A5ACD;
  }

  #column-1 {
    background-color: #8B4513;
  }

  #column-2 {
    background-color: #9ACD32;
  }

  #column-3 {
    background-color: #FFC0CB;
  }

  footer {
    background-color: #00008B;
  }
   
}
